@model List<Genre>
@{
    ViewData["Title"] = "Add Genre";
}

<h2>Add a Genre</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="HandleNewGenre">
            <div class="form-group">
                <label for="name" class="control-label">Name of Genre</label>
                <input name="name" class="form-control" />
            </div>
            <div class="form-group">
                <label for="description" class="control-label">Description of Genre</label>
                <input name="description" class="form-control" />
            </div>
            
            <div class="form-group">
                <input type="submit" value="Add a new Genre" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<h2>Genres</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Genre
            </th>
            <th>
                Description
            </th>
            
        </tr>
    </thead>
    @foreach (Genre location in Model)
    {
        <tr>
            <td>
                @location.Name
            </td>
            <td>
                @location.Description
            </td>
          
        </tr>
    }
</table>

<style>

    
    body {
        background: url('http://colourlovers.com.s3.amazonaws.com/images/patterns/1620/1620154.png'), url('http://www.colourlovers.com/img/508F92/228/161/Elegant_Cyanide.png'), #cccccc;
        _background: #e6ca6e; /*IE cheat code*/
        background-size: auto 40px, auto 305px, auto auto;
        background-position: 0px 0px, 0px 40px, 0px 0px;
        background-repeat: repeat-x, repeat-x, repeat;
    }
