<h2>Not sure what anime to watch next?</h2>

</li></ul></div></div><div class="gallery">
    <marquee behavior="alternate" direction="right" scrolldelay="100">

        <!--gallery-->

        <img src="http://i63.tinypic.com/15nx89g.jpg" height="100" width="100">
        <img src="http://i66.tinypic.com/wswz0w.jpg" height="100" width="100">
        <img src="http://i64.tinypic.com/141r610.png" height="100" width="100">
         <img src="http://i68.tinypic.com/11cgi7s.jpg" height="100" width="100">
        <img src="http://i68.tinypic.com/30hvih4.png" height="100" width="100">
        <img src="http://i68.tinypic.com/118k2de.jpg" height="100" width="100">
        <img src="http://i66.tinypic.com/2dvpmv7.jpg" height="100" width="100">
        <img src="http://i68.tinypic.com/2ec0rva.jpg" height="100" width="100">

        
        <img src="http://i65.tinypic.com/33dxod0.jpg" height="100" width="100">
        <img src="http://i63.tinypic.com/spb1hv.jpg" height="100" width="100">
        <img src="http://i66.tinypic.com/wmf2xc.jpg" height="100" width="100">
        <img src="http://i64.tinypic.com/14nemmw.jpg" height="100" width="100">



    </marquee>
</div>

<!--and done with HTML!--->

<style>

   
    body {
        background: url('http://colourlovers.com.s3.amazonaws.com/images/patterns/1620/1620154.png'), url('http://www.colourlovers.com/img/508F92/228/161/Elegant_Cyanide.png'), #cccccc;
        _background: #e6ca6e; /*IE cheat code*/
        background-size: auto 40px, auto 305px, auto auto;
        background-position: 0px 0px, 0px 40px, 0px 0px;
        background-repeat: repeat-x, repeat-x, repeat;
    }
