<h2>Not sure what anime to watch next?</h2>
<th>
    <font size="2">
        This website contains the only anime database you'll need.
        <br />
        <br />
        <font color=000000>Anime:</font> under the existing anime tab, you can view a list of all anime and their description.
        <br />
        Know a great anime not listed under our anime tab? Add it to our database!
        <br />
        <br />
        <font color=000000>Genres:</font> If you aren't sure exactly which genres you are interested in, you can view all of the genres and their descriptions in the view genre tab.
        <br />
        If you have a favorite genre, you can view which genres each anime is using the view shows by genre tab!
        <br />
        Is there a genre you don't see in our existing genres tab? Add it to our database using the add genre tab!
        <br />
        If you think an anime falls under another genre as well you can add the genre to the anime!
        <br />
        <br />
        <font color=000000>Seasons:</font> Not sure if you'll be interested in a show just by the description? View fan written synopses of each season!
        <br />
        You can add short descriptions of individual seasons in our database!
        <br />

        <br />
        <br />
        <br />
        <br />
        <br />

    </font>
   
    
</th>

</li></ul></div></div><div class="gallery">
                          <marquee behavior="alternate" direction="right" scrolldelay="100">

                              <!--gallery-->

                              <img src="http://i63.tinypic.com/15nx89g.jpg" height="100" width="100">
                              <img src="http://i66.tinypic.com/wswz0w.jpg" height="100" width="100">
                              <img src="http://i64.tinypic.com/141r610.png" height="100" width="100">
                              <img src="http://i68.tinypic.com/11cgi7s.jpg" height="100" width="100">
                              <img src="http://i68.tinypic.com/30hvih4.png" height="100" width="100">

                              <img src="http://i68.tinypic.com/118k2de.jpg" height="100" width="100">
                              <img src="http://i66.tinypic.com/2dvpmv7.jpg" height="100" width="100">
                              <img src="http://i67.tinypic.com/29e68a0.jpg" height="100" width="100">
                              <img src="http://i63.tinypic.com/oh7gyb.jpg" height="100" width="100">
                              <img src="http://i68.tinypic.com/2ec0rva.jpg" height="100" width="100">


                              <img src="http://i65.tinypic.com/33dxod0.jpg" height="100" width="100">
                              <img src="http://i63.tinypic.com/spb1hv.jpg" height="100" width="100">

                              <img src="http://i66.tinypic.com/20rpxs0.jpg" height="100" width="100">
                              <img src="http://i67.tinypic.com/316oxgm.jpg" height="100" width="100">






                          </marquee>
</div>

<!--and done with HTML!--->

<style>

   
    body {
        background: url('http://colourlovers.com.s3.amazonaws.com/images/patterns/1620/1620154.png'), url('http://www.colourlovers.com/img/508F92/228/161/Elegant_Cyanide.png'), #cccccc;
        _background: #e6ca6e; /*IE cheat code*/
        background-size: auto 40px, auto 370px, auto auto;
        background-position: 0px 0px, 0px 40px, 0px 0px;
        background-repeat: repeat-x, repeat-x, repeat;
    }
